body{
    margin: 0;
    font-family: "Inter", serif;

}

header{
    height: 193px;
    background-color: #248424;
    display: flex;
    font-size: 18pt;
    align-items: center;
    
}

header>a>img{
    width: 253px;
    height: 113px;
    margin: 35px;
}

header>nav>a{
    text-decoration: none;
    color: white;
    margin: 40px;
}

.lien {
    position: relative;
    text-decoration: none;
    color: white;
    margin: 45px;
    padding-bottom: 5px; /* Espacement pour l'effet */
}

.lien::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* Épaisseur du soulignement */
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.lien:hover::after {
    width: 100%;
}

.rdv{
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 8px;
    transition: ease-in-out;
    transition-duration: 0.5s;
}

.rdv:hover{
    background-color: #009951;
    color :white;
}

.accueil{
    display: flex;
}

.contenu-gauche{
    text-align: center;
    padding: 40px;
}
.contenu-gauche>p{
    text-align: left;
}

.img_ian{
    margin: 20px 20px 0px 0px;
    border-radius: 10px;
}

.titre{
    font-size: 40pt;
    color: #248424;
    margin-left: 60px;
    margin-top: 60px;
}

.sous-titre{
    font-size: 30pt;
    color: #248424;
}

.section_prestations{
    width: 100%;
    margin: 2.5%;
}

.section_prestations > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneur_reservation{
    background-color: #248424;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    height: 400px;
    align-items: center;
    margin: 50px;
}

.conteneur1{
    color: white;
    text-align: end;
    width: 400px;
}

.conteneur1 > h1{
    font-size: xx-large;
}

.conteneur2{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 70%;
}

.conteneur2 > p{
    font-size: large;
}

.conteneur2 > button{
    background-color: white;
}

.conteneur2 > button > a{
    text-decoration: none;
    font-size: large;
}

.reservation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_presentation{
    width: 100%;
    margin: 2.5%;
}

/*Page Projet*/

.project_container{
    display: flex;
    flex-direction: row;
}

.project_container > img{
    height: 670px;
}

/*Page Prestations*/

.prestations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1208px;
}

/*Footer*/

footer{
    background-color: #248424;
    color: white;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.logo_RS>a>img{
    width: 253px;
    height: 113px;
    margin: 35px;
}

.rs_links > a > img{
    height: 40px;
    margin-left: 4px;
    margin-right: 4px;
}

.rs_links{
    display: flex;
    flex-direction: row;
    width: 323px;
    padding-left: 35px;
}

.footer_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.footer_liens{
    padding-top: 20px;
}

.footer_liens > ul{
    list-style: none;
}

.footer_liens > ul > li{
    padding-bottom: 30px;
}

.footer_liens > ul > li > a{
    color: white;
    text-decoration: none;
}