<%- include('header.ejs') -%>
<main>
    <section class="formulaire">
    <div class="liens_RS">
        <a href=""><img src="images/facebookvert.png" alt="Logo de Facebook"></a>
        <a href=""><img src="images/linkedinvert.png" alt="Logo de Linkedin"></a>
        <a href=""><img src="images/instavert.png" alt="Logo de Instagram"></a>
        <a href=""><img src="images/ytbvert.png" alt="Logo de Youtube"></a>
    </div>
</section>
</main>
<%- include('footer.ejs') -%>