<%- include('header.ejs') -%>
<main>
    <section class="formulaire">
        <div class="container">
            <h2>Contactez-nous</h2>
            <form>
                <label for="name">Nom :</label>
                <input type="text" id="name" name="name" required>
    
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" required>
    
                <label for="message">Message :</label>
                <textarea id="message" name="message" required></textarea>
    
                <button type="submit">Envoyer</button>
            </form>
        </div>
    <div class="liens_RS">
        <a href=""><img src="images/facebookvert.png" alt="Logo de Facebook"></a>
        <a href=""><img src="images/linkedinvert.png" alt="Logo de Linkedin"></a>
        <a href=""><img src="images/instavert.png" alt="Logo de Instagram"></a>
        <a href=""><img src="images/ytbvert.png" alt="Logo de Youtube"></a>
    </div>
</section>
</main>
<%- include('footer.ejs') -%>