<footer>
    <div class="logo_RS">
        <a href="/">
            <img src="images/logo.png" alt="Logo de Road For Green">
        </a>
        <div class="rs_links">
            <a href=""><img src="images/facebook.png" alt="Logo de Facebook"></a>
            <a href=""><img src="images/linkedin.png" alt="Logo de Linkedin"></a>
            <a href=""><img src="images/instagram.png" alt="Logo de Instagram"></a>
            <a href=""><img src="images/youtube.png" alt="Logo de Youtube"></a>
        </div>
    </div>
    <div class="footer_liens">
        <ul>
            <li><a href="projets.ejs" class="lien_footer">Projets</a></li>
            <li><a href="prestation.ejs" class="lien_footer">Prestations</a></li>
            <li><a href="partenaires.ejs" class="lien_footer">Partenaires</a></li>
            <li><a href="rdv.ejs" class="lien_footer">Prendre rendez-vous</a></li>
        </ul>
    </div>
    <div class="footer_links"></div>
    <div class="footer_links"></div>
</footer>