<footer>
    <div class="logo_RS">
        <img src="/public/images/logo.png" alt="Logo de Road For Green">
        <div class="rs_links"></div>
    </div>
    <div class="footer_links">
        <ul>
            <li><a href="projets.ejs">Projets</a></li>
            <li><a href="prestation.ejs">Prestations</a></li>
            <li><a href="partenaires.ejs">Partenaires</a></li>
            <li><a href="rdv.ejs">Prendre rendez-vous</a></li>
        </ul>
    </div>
    <div class="footer_links"></div>
    <div class="footer_links"></div>
</footer>