<footer>
    <div class="logo_RS">
        <a href="/">
            <img src="images/logo.png" alt="Logo de Road For Green">
        </a>
        <div class="rs_links">
            <a href=""><img src="images/facebook.png" alt="Logo de Facebook"></a>
            <a href=""><img src="images/linkedin.png" alt="Logo de Linkedin"></a>
            <a href=""><img src="images/instagram.png" alt="Logo de Instagram"></a>
            <a href=""><img src="images/youtube.png" alt="Logo de Youtube"></a>
        </div>
    </div>
    <div class="footer_links">
    <div class="footer_liens">
        <ul>
            <li><a href="/projets" class="lien_footer">Projets</a></li>
            <li><a href="/prestation" class="lien_footer">Prestations</a></li>
            <li><a href="/partenaires" class="lien_footer">Partenaires</a></li>
            <li><a href="/rdv" class="lien_footer">Prendre rendez-vous</a></li>
        </ul>
    </div>
    <div class="footer_liens">
        <ul>
            <li><a href="/contact" class="lien_footer">Aide et contact</a></li>
            <li><a href="" class="lien_footer">Faq</a></li>
            <li><a href="/contact" class="lien_footer">Contact</a></li>
            <li><a href="/prestation" class="lien_footer">Informations et tarifs</a></li>
        </ul>
    </div>
    <div class="footer_liens">
        <ul>
            <li><a href="" class="lien_footer">Informations légales</a></li>
            <li><a href="" class="lien_footer">Avis juridique</a></li>
            <li><a href="" class="lien_footer">Conditions générales</a></li>
            <li><a href="" class="lien_footer">Politique de cookies</a></li>
        </ul>
    </div>
</div>
</footer>