<%- include('header.ejs') -%>

<section>
    <div class="contenu-gauche">
        <h1 class="titre">Qui est Ian Scherrer ?</h1>
    </div>
    <div class="conteneur_reservation">
        <div class="conteneur1">
            Gagnez du temps en réservant votre créneau en ligne en quelques clics.
        </div>
        <div class="conteneur2">
            <p>Prenez rendez-vous facilement avec notre équipe. Sélectionnez la date et l’heure qui vous conviennent et bénéficiez d’un service rapide et efficace.</p>
            <button><a href="/rendez-vous">Prendre rendez-vous</a></button>
        </div>
    </div>
</section>

<%- include('footer.ejs') -%>