<%- include('header.ejs') -%>

    <section class="accueil">
        <div class="contenu-gauche">
            <h1 class="titre">Qui est Ian Scherrer ?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore itaque consequuntur numquam animi
                aspernatur beatae modi eligendi quam provident eos quidem ratione eius, in fuga nulla eum ipsa amet iste
                excepturi at! Quaerat temporibus odit minima sapiente, unde eaque illum nisi earum. Qui magni nesciunt
                harum veniam asperiores, vitae velit, laboriosam sed placeat, corrupti iure sint beatae. Assumenda vel
                ex aliquid natus et nihil ullam hic. Eum, pariatur vitae? Molestiae placeat libero repellat sapiente
                adipisci perferendis at, nobis aliquid reprehenderit sunt excepturi doloremque beatae laborum ex harum
                ea dolor nihil corporis assumenda fugiat culpa voluptates, temporibus consequatur odio! Consectetur,
                iste.</p>
                <div class="bouton">
                    <button>Prendre RDV</button>
                    <button>Prestations</button>
                    <button>Vidéo Présentation</button>
                </div>
        </div>
        <img src="images/IanScherrer.png" alt="image de Ian Scherrer" class="img_ian">
    </section>

<%- include('footer.ejs') -%>
