<%- include('header.ejs') -%>

<section>
    <div class="contenu-gauche">
        <h1 class="titre">Qui est Ian Scherrer ?</h1>
    </div>
</section>

<section class="accueil">
    <div class="contenu-gauche">
        <h1 class="titre">Qui est Ian Scherrer ?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            itaque consequuntur numquam animi
            aspernatur beatae modi eligendi quam provident eos quidem ratione
            eius, in fuga nulla eum ipsa amet iste
            excepturi at! Quaerat temporibus odit minima sapiente, unde eaque
            illum nisi earum. Qui magni nesciunt
            harum veniam asperiores, vitae velit, laboriosam sed placeat,
            corrupti iure sint beatae. Assumenda vel
            ex aliquid natus et nihil ullam hic. Eum, pariatur vitae? Molestiae
            placeat libero repellat sapiente
            adipisci perferendis at, nobis aliquid reprehenderit sunt excepturi
            doloremque beatae laborum ex harum
            ea dolor nihil corporis assumenda fugiat culpa voluptates,
            temporibus consequatur odio! Consectetur,
            iste.</p>
        <div class="bouton">
            <button>Prendre RDV</button>
            <button>Prestations</button>
            <button>Vidéo Présentation</button>
        </div>
    </div>
    <img src="images/IanScherrer.png" alt="image de Ian Scherrer"
        class="img_ian">
</section>

<section class="section_prestations">
    <h1 class="sous-titre">Prestations</h1>
    <div>
    <div class="prestations">
        <div class="prestation">
            <img src="" alt="">
            <p>Pack Standard : 129€</p>
            <ul>
                <li>3 photos professionnelles mettant en avant votre véhicule</li>
                <li> Estimation au prix du marché, détail des options, entretien et
                    administratif</li>
                <li>Rédaction et publication de l’annonce sur Le Bon Coin</li>
            </ul>
        </div>
        <div class="prestation">
            <img src="" alt="">
            <p>Pack Premium : 299€</p>
            <ul>
                <li>Lavage extérieur + sièges avant</li>
                <li>Shooting photo professionnel (3 photos, 2 extérieures retouchées
                    et 1 intérieure)</li>
                <li>Rédaction et publication de l’annonce sur Le Bon Coin</li>
            </ul>
        </div>
        <div class="prestation">
            <img src="" alt="">
            <p>Pack Premium Plus : 299€</p>
            <ul>
                <li>Lavage complet intérieur / extérieur + cire de protection</li>
                <li>Shooting photo professionnel (20 photos, extérieures
                    retouchées)</li>
                <li>Estimation au prix du marché, détail des options, entretien et
                    administratif</li>
                <li>Rédaction et publication de l’annonce sur Le Bon Coin et
                    plusieurs sites</li>
                <li>Aide et conseils à la vente</li>
            </ul>
        </div>
    </div>
</div>
</section>

<section class="reservation">
    <div class="conteneur_reservation">
        <div class="conteneur1">
            <h1>Gagnez du temps en réservant votre créneau en ligne en quelques
                clics.</h1>
        </div>
        <div class="conteneur2">
            <p>Prenez rendez-vous facilement avec notre équipe. Sélectionnez la
                date et l’heure qui vous conviennent et bénéficiez d’un service
                rapide et efficace.</p>
            <button><a href="/rendez-vous">Prendre rendez-vous</a></button>
        </div>
    </div>
</section>

<%- include('footer.ejs') -%>
