<%- include('header.ejs') -%>

    <div class="partenaire_container">
        <div class="partenaire_info">
            <h1 class="sous-titre">Clean Again</h1>
            <p>Clean Again est une entreprise spécialisée dans le nettoyage de véhicules à domicile dans le
                Maine-et-Loire, offrant des services professionnels et personnalisés aux particuliers, garages,
                concessions et loueurs. Fondée en 2024 par Lucas Pilard, un passionné d'automobile, l'entreprise
                s'engage à fournir des prestations de qualité, respectueuses des normes écologiques françaises, en
                adaptant ses solutions de nettoyage aux besoins spécifiques de chaque véhicule.</p>
        </div>
        <img src="images/clean_again_logo.png" alt="Logo Clean Again" class="partenaire_logo">
    </div>

    <div class="partenaire_container">
        <div class="partenaire_info">
            <h1 class="sous-titre">Hyp'Up</h1>
            <p>Hyp'up est une entreprise basée à Rennes, spécialisée dans le développement d'une application numérique
                visant à centraliser et promouvoir les événements locaux. Fondée en décembre 2022, Hyp'up offre une
                plateforme intuitive permettant aux utilisateurs de découvrir facilement des activités culturelles,
                sportives ou festives dans leur région. Les professionnels de l'événementiel peuvent également utiliser
                cette plateforme pour publier et gérer leurs événements, touchant ainsi une communauté locale active et
                curieuse.</p>
        </div>
        <img src="images/logo_hyp_up.png" alt="Logo Hyp'Up" class="partenaire_logo">
    </div>

<%- include('footer.ejs') -%>
