<%- include('header.ejs') -%>

<h1 class="titre">Prestations</h1>

<main>


<div class="prestations">
    <div class="prestation">
        <img src="" alt="">
        <p>Pack Standard : 129€</p>
        <ul>
            <li>3 photos professionnelles mettant en avant votre véhicule</li>
            <li> Estimation au prix du marché, détail des options, entretien et
                administratif</li>
            <li>Rédaction et publication de l’annonce sur Le Bon Coin</li>
        </ul>
    </div>
    <div class="prestation">
        <img src="" alt="">
        <p>Pack Premium : 299€</p>
        <ul>
            <li>Lavage extérieur + sièges avant</li>
            <li>Shooting photo professionnel (3 photos, 2 extérieures retouchées
                et 1 intérieure)</li>
            <li>Rédaction et publication de l’annonce sur Le Bon Coin</li>
        </ul>
    </div>
    <div class="prestation">
        <img src="" alt="">
        <p>Pack Premium Plus : 299€</p>
        <ul>
            <li>Lavage complet intérieur / extérieur + cire de protection</li>
            <li>Shooting photo professionnel (20 photos, extérieures
                retouchées)</li>
            <li>Estimation au prix du marché, détail des options, entretien et
                administratif</li>
            <li>Rédaction et publication de l’annonce sur Le Bon Coin et
                plusieurs sites</li>
            <li>Aide et conseils à la vente</li>
        </ul>
    </div>
</div>

<section class="reservation">
    <div class="conteneur_reservation">
        <div class="conteneur1">
            <h1>Gagnez du temps en réservant votre créneau en ligne en quelques
                clics.</h1>
        </div>
        <div class="conteneur2">
            <p>Prenez rendez-vous facilement avec notre équipe. Sélectionnez la
                date et l’heure qui vous conviennent et bénéficiez d’un service
                rapide et efficace.</p>
            <button><a href="/rendez-vous">Prendre rendez-vous</a></button>
        </div>
    </div>
</section>

</main>

<%- include('footer.ejs') -%>