<%- include('header.ejs') -%>

    <section>
        <div class="project_container">
            <div class="project_info">
                <h1 class="sous-titre">Projet 306</h1>
                <p>Avec la fin du confinement nous avons enfin pu commencer nos projets de mécanique : notre
                    voiture-projet effectuait ses derniers tours de roues en direction du garage, afin d'être
                    restaurée jusqu'à l'été puis d'être transformée en prototype innovant.</p>
            </div>
            <img src="images/project_img1.jpg" alt="Project Image 1" class="project_image">
        </div>

        <div class="project_container">
            <div class="project_info">
                <h1 class="sous-titre">Restauration 206</h1>
                <p>Nous avons redonné vie à une Peugeot 206 en effectuant une révision mécanique complète, une
                    optimisation des performances et une rénovation esthétique. Nouvelle peinture métallisée, intérieur
                    restauré et moteur remis à neuf : cette icône des années 2000 est prête à reprendre la route avec
                    style !</p>
            </div>
            <img src="images/project_img2.jpg" alt="Project Image 2" class="project_image">
        </div>

        <%- include('footer.ejs') -%>