<%- include('header.ejs') -%>

<section>
    <div class="project_container">
        <div>
            <h1 class="project_title">Lorem Ipsum Dolor Sit Amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque sed varius lectus. Pellentesque luctus sapien id
                lorem volutpat pellentesque. Maecenas enim justo, facilisis a
                magna luctus, viverra venenatis felis. Mauris porta, diam in
                accumsan ullamcorper, enim metus cursus ex, at porta diam neque
                ac tellus. Fusce nec fermentum felis.</p>
        </div>
        <img src="/public/images/projet1.jpg" alt="">
    </div>
    <div class="project_container">
        <img src="" alt="">
        <div>
            <h1 class="project_title">Lorem Ipsum Dolor Sit Amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque sed varius lectus. Pellentesque luctus sapien id
                lorem volutpat pellentesque. Maecenas enim justo, facilisis a
                magna luctus, viverra venenatis felis. Mauris porta, diam in
                accumsan ullamcorper, enim metus cursus ex, at porta diam neque
                ac tellus. Fusce nec fermentum felis.</p>
        </div>
    </div>
    <div class="project_container">
        <div>
            <h1 class="project_title">Lorem Ipsum Dolor Sit Amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque sed varius lectus. Pellentesque luctus sapien id
                lorem volutpat pellentesque. Maecenas enim justo, facilisis a
                magna luctus, viverra venenatis felis. Mauris porta, diam in
                accumsan ullamcorper, enim metus cursus ex, at porta diam neque
                ac tellus. Fusce nec fermentum felis.</p>
        </div>
        <img src="" alt="">
    </div>
    <div class="project_container">
        <img src="" alt="">
        <div>
            <h1 class="project_title">Lorem Ipsum Dolor Sit Amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque sed varius lectus. Pellentesque luctus sapien id
                lorem volutpat pellentesque. Maecenas enim justo, facilisis a
                magna luctus, viverra venenatis felis. Mauris porta, diam in
                accumsan ullamcorper, enim metus cursus ex, at porta diam neque
                ac tellus. Fusce nec fermentum felis.</p>
        </div>
    </div>
</section>