<%- include('header.ejs') -%>

<section>
    <div class="project_container">
        <div class="project_info">
            <h1 class="sous-titre">Projet 306</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed varius lectus...</p>
        </div>
        <img src="images/project_img1.jpg" alt="Project Image 1" class="project_image">
    </div>

    <div class="project_container">
        <img src="images/project_img2.jpg" alt="Project Image 2" class="project_image">
        <div class="project_info">
            <h1 class="sous-titre">Lorem Ipsum Dolor Sit Amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed varius lectus...</p>
        </div>
    </div>

    <div class="project_container">
        <div class="project_info">
            <h1 class="sous-titre">Lorem Ipsum Dolor Sit Amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed varius lectus...</p>
        </div>
        <img src="images/project_img3.jpg" alt="Project Image 3" class="project_image">
    </div>

<%- include('footer.ejs') -%>
